:root{  
  --bg-main: #fd3995;   
  --bg-main2: #72A1B1;   
  --bg-main3: #95BACA; 
  --bg-main4: #AEB7B2;
  --bg-main5: #24C9FF;
}
a:hover{
  text-decoration: none;
}
body{  
  font-family: Sarabun;   
}   
main{
  background: #F4F6F9;
  z-index: 2;
}
.menu-start{
  min-height: 100vh;
  width: 236px; 
  background: #515B52;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
} 
main .main{
  position: relative;
  padding: 24px;
  padding-left: calc(236px + 24px);
  min-height: 100vh;
}
.menu-start ul{
  padding-left: 0px;
  list-style: none;
}
.menu-start ul li{
  height: 56px;
  width: 100%; 
}
.menu-start ul li a{
  height: 56px;
  width: 100%;
  display: block;
  color: #fff;
  opacity: .5;
  transition: .33s all ease-out; 
  padding: 16px 18px;
  position: relative;
  padding-left: 45px;
  border-left: 3px solid #043673;   
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%; 
  color: #FFFFFF;
}
.menu-start ul li a span{
  position: absolute;
  font-size: 24px;
  left: 10px;
}
.menu-start ul li a:hover{ 
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  border-left: 3px solid #fd3995; 
}
.menu-start ul li.active a{ 
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  border-left: 3px solid #fd3995; 
}

.bootstrap-select{
  width: 100%; 
} 
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
  height: 40px;  
}
.bootstrap-select>.dropdown-toggle {
  height: 40px;  
}
.btn-light { 
  border-radius: 8px !important; 
  background: #FFFFFF !important; 
  border: 1px solid #D1D1D6 !important;
  font-size: 16px;
  line-height: 24px; 
  color: #3A3A3C;   
}
.btn-light:focus{ 
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.btn-light:active{ 
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
} 
.bootstrap-select .filter-option-inner-inner{
  line-height: 28px; 
  padding-left: 7px; 
  font-weight: 400;
  color: #3A3A3C;
  font-size: 14px;
} 
.bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;     
} 
.dropdown-item.active, .dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #fd3995;
}
.bootstrap-select .dropdown-menu.active li.selected a span.text { 
  color: #fff !important; 
}
.bootstrap-select .dropdown-menu:active li.selected  a span.text { 
  color: #fff !important; 
} 
.btn.btn-x{
  background-color: #fff;
  border: 1px solid #AEB7B2;
  border-radius: 0px;
}
.btn.btn-x.active{ 
  background-color: var(--bg-main);
  border: 1px solid var(--bg-main);
  color: #fff;
}

/* ########################################################################### เปรียบเทียบประวัติบุคลากร */

.list-name{ 
  height: calc(100vh - 260px);
  border: 1px solid #5e6371;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px 10px;
}
.profile-box{  
  border: 1px solid #fd3995;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.profile-box img{  
  height: 150px;
  max-width: 100%;
  display: block;
  margin: 10px auto; 
}
.profile-box ul{  
  padding-left: 10px;
  list-style: none;
}
.profile-box ul li{  
  font-size: 13px;
}
.profile-box ol{  
  padding-left: 20px; 
}
.profile-box ol li{  
  font-size: 13px;
}
.name-select{  
  padding-left: 20px !important; 
}
.name-select li{  
  position: relative;
  margin-bottom: 6px;
  cursor: pointer;
}
.name-select li::after{  
  position: absolute;
  right: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 20px auto !important;
  background: url(../images/delete_FILL0_wght400_GRAD0_opsz48.svg);
}
.material-symbols-outlined{
  position: relative;
  top: 4px;
}


#container span{
  background-color: #fd3995;
  padding: 4px;
  border-radius: 3px;
}